<!-- Who We Are -->
<div id="whoWeAre" class="row justify-content-center align-items-center border-bottom border-danger p-5 mt-n3">
    <!-- chris -->
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-lg-5 col-12 content text-left p-2 lead ">
            <h2 class="border-bottom border-primary">Christopher Hawley</h2>
            <p>
                Hey I'm Chris. I started Mule in 2019 as a small custom furniture studio. ​
            </p>
            <p>
                My background in craft started in Western North Carolina, where I had a unique opportunity to learn traditional american furniture making from a handful of incredible craftspeople.
            </p>
            <p>
                I do not pretend to be a traditional furniture maker, I liberally use contemporary machinery and rarely get out my hand planes, but my background in a more antiquated approach has continued to serve me in how I apply the methods of modern furniture making.
            </p>

        </div>
        <div class="col-lg-5 col-10">
            <img class="img-fluid border border-primary mx-auto shadow-sm" src="imgs/chris.jpg ">
        </div>
    </div>
    <!-- chili -->
    <div class="row justify-content-center align-items-center ">
        <div class="col-lg-5 col-12 content text-left p-2 lead order-2 ">
            <h2 class="border-bottom border-info">Chilton Mendez</h2>
            <p>
                Chili is my partner at Mule. Born and raised in Wimberly, Texas, he operates as a shop manager at our space in east Austin.​
            </p>
            <p>
                Chili is a talented woodworker, but seems to have an endless knowledge of every adjacent trade, and therefore is sort of our installation specialist. He's worked in solar energy, built a tiny house, and is a certified forearm model, but his real expertise
                in problem solving, which makes him one of the best woodworkers in Austin. </p>

        </div>
        <div class="col-lg-5 col-10 order-2 order-lg-1">
            <img class="img-fluid border border-info mx-auto shadow-sm" src="imgs/chili.jpg ">
        </div>
    </div>
</div>