<%- include("partials/header") %>

    <main id="Top" class="home-body">
        <section class="home">
            <div class="card home-logo">
                <div class="">
                    <div class="">
                        <h2 class="lead">Custom Furniture | Intentional Objects</h2>
                        <h1 class="display-3 home-name">Mule Studio</h1>

                        <div class="social-icons">
                            <a href="#" class="btn-link2"><i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="#" class="btn-link2"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            <a href="#" class="btn-link2"><i class="fab fa-instagram fa-x2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h2>Projects:</h2> -->
            <div id="indexLinks">
                <div class="row align-items-center justify-content-around no-gutters">
                    <div class="card col-md-4 thumbnail-res">
                        <a href="/projects/#ResidentialHeader" class=" text-center">
                            <h2 class="caption p-5">
                                Residential
                            </h2>
                        </a>
                    </div>
                    <div class="card col-md-4 thumbnail-comm">
                        <a href="/projects/#CommercialHeader" class="text-center">
                            <h2 class="caption p-5">
                                Commercial
                            </h2>
                        </a>
                    </div>
                    <div class="card col-md-4 thumbnail-art">
                        <a href="/projects/#ArtHeader" class=" text-center">
                            <h2 class="caption  p-5">
                                Art
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container p-3">
                <p class="lead">All of our projects start with a phone call or an email, so please don't hesitate to reach out. We do this because we love the process. Even if you don't know exactly what you're looking for, we are more than happy to work with you to
                    create something that you truly adore.
                    <h5 class="">Chris Hawley</h5>
                    <a href="tel:205 568 2603" class="btn-link2">205-568-2603</a><br>
                    <a href="mailto:chris@mule-studio.com" class="btn-link2">chris@mule-studio.com</a> <br> 123 somewhere street, Austin, TX
                </p>
            </div>
        </section>
    </main>
    <!-- <script src="js/main.js"></script> -->

    <%- include("partials/footer") %>