<section id="Top" class="pt-5">
    <!-- new top layout: Logo & contact in thinner row,-->
    <span class="w-100 d-block pt-5 mt-n5" id="contact"></span>
    <!-- logo -->
    <div class="row justify-content-center align-items-center pt-1 mb-n4">
        <div class="col-12 col-sm-6 col-lg-7 col-xl-6">
            <img class="img-fluid d-none d-lg-block mx-auto" src="/imgs/logo.png">
            <img class="img-fluid d-block d-lg-none mx-auto" src="/imgs/logosmall.png">
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-4">
            <div class="card mx-auto" style="width: 90%;">
                <h4 class="card-header text-center">Contact Us</h4>
                <div class="card-body">
                    <p class="card-text">All of our projects start with a phone call or an email, so please don't hesitate to reach out. We do this because we love the process. Even if you don't know exactly what you're looking for, we are more than happy to work with you
                        to create something that you truly adore.
                        <h5 class="card-subtitle mb-2 text-muted">Chris Hawley</h5>
                        <a href="tel:205 568 2603" class="card-link">205-568-2603</a><br>
                        <a href="mailto:chris@mule-studio.com" class="card-link">chris@mule-studio.com</a> <br> 123 somewhere street, Austin, TX
                    </p>
                </div>
            </div>
        </div>
    </div>