<section id="Top" class="pt-5">
    <!-- new top layout: Logo & contact in thinner row,-->
    <span class="w-100 d-block pt-5 mt-n5" id="contact"></span>
    <!-- logo -->
    <div class="row justify-content-center align-items-center pt-1 mb-n4">
        <div class="col-12 col-sm-6 col-lg-7 col-xl-6">
            <img class="img-fluid  mx-auto" src="/imgs/HallLogoWhite.png">
            <!-- <img class="img-fluid d-block d-lg-none mx-auto" src="/imgs/logosmall.png"> -->
        </div>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-4">
            <div class="card mx-auto" style="width: 90%;">
                <h4 class="card-header text-center">Contact Me</h4>
                <div class="card-body">
                    <p class="card-text"> Full time geologist, part time coder. I code in my spare time, in my work truck at job sites, and in the evenings after work. My day job involves inspecting deep foundations for high rise buildings. A properly built foundation is essential
                        to any construction, be it a building, website, or any piece of technology.
                        <h5 class="card-subtitle mb-2 text-muted">Blake Morgan</h5>
                        <a href="tel:2059104663" class="card-link">205-910-4663</a><br>
                        <a href="mailto:blake365morgan@me.com" class="card-link">Blake365morgan@me.com</a> <br> 959 Hall Pl, Atlanta, GA
                    </p>
                </div>
            </div>
        </div>
    </div>