<!-- Who We Are -->
<div id="whoWeAre" class="row justify-content-center align-items-center p-5 mt-n3">
    <!-- chris -->
    <div class="row justify-content-center align-items-center mb-4">
        <div class="col-lg-5 col-12 content text-left p-2 lead ">
            <h2 class="border-bottom border-primary">Blake Morgan</h2>
            <p>
                Hey I'm Blake. I started taking code seriously in the summer of 2020. ​
            </p>
            <p>
                I'm sure i'm not alone in the timing. Covid-19 has a lot of people looking for new careers and ways to stay relevant. I started learning under different circumstances, on a very slow and boring job site. </p>
            <p>
                When I wasn't inspecting the rock in the bottom of 90 shafts, ranging from 30 to 70 feet deep, and 48 to 96 inches in diameter, I was watching videos, reading articles and writing my own code. This site is designed to be a portfolio based on the things
                I've learned. I hope to fill it with new things as time goes on. This site is built with MongoDB, Express, Nodejs, and Bootstrap 4.</p>

        </div>
        <div class="col-lg-5 col-10">
            <img class="img-fluid border border-primary mx-auto shadow-sm" src="">
        </div>
    </div>

</div>