<%- include("partials/header") %>

    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Create a new Project</h1>
                <form action="/" method="POST">
                    <label for="">Project Type</label>
                    <div class="form-group">
                        <input type="radio" id="radio" name="type" value="res">
                        <label for="res">Residential</label>
                        <input type="radio" id="radio" name="type" value="comm">
                        <label for="comm">Commercial</label>
                        <input type="radio" id="radio" name="type" value="art">
                        <label for="art">Art</label>
                        <div class="form-group">
                            <label for="">Title</label>
                            <input class="form-control" type="text" name="Tite" placeholder="Project Title" id="">
                        </div>
                        <label for="">Image Link</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="image" placeholder="image url" id="">
                        </div>
                        <label for="">Project Description Text</label>
                        <div class="form-group">
                            <textarea class="form-control" cols="30" rows="10" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-large btn-block btn-primary" type="">Submit</button>
                        </div>

                </form>
                <a href="/">Go Back</a>
                </div>
            </div>
        </div>
        <%- include("partials/footer") %>