<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mule Studio - Austin, TX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/mule.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-0 border-bottom shadow-sm">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-md-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand" href="/">
                Dynamic MOOSE Webapp
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-center" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <% if (!currentUser){ %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li> -->
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link">Welcome
                                <%= currentUser.username %>
                                    </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        <li class="nav-item">
                            <a href="/projects/new" class="nav-link">New Project</a>
                        </li>
                        <li class="nav-item">
                            <a href="/projects/dashboard" class="nav-link">Dashboard</a>
                        </li>
                        <% } %>
                            <li class="nav-item">
                                <a href="/projects/#contact" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="/projects/#ResidentialHeader" class="nav-link">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a href="/projects/#whoWeAre" class="nav-link">Who We Are</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.instagram.com/mule_studio/" class="nav-link"><i class="fab fa-instagram fa-lg pt-1"></i></a>
                            </li>
            </ul>
        </div>
    </nav>

    <div class="container pt-5 mb-n5">
        <% if (error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if (success && success.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                    <% } %>
    </div>